//===============IMPORT==============================
 @import "fonts.css"
// ==============VARIABLES===========================
azul = darken(#20b2db,10%) //#428bca
azulclaro =  lighten(azul,25%) //#8cc6ec
azulobscuro = darken(azul,10%)//#2D4A64
bordeazul = darken(azul,10%)//#357ebd
pie = darken(azul,35%) //#345778
piebajo = darken(azul,30%) //#305171

verde = #93d734 //#01d588 //#98c63c
verdeobscuro = darken(verde, 10%)//#8ab535

textoPrimario = #4E4E50
textoSecundario = #797979
grisClaro = #f2f2f2

gris = #eeeeee 

letrasfooter = #92B3D1

// ==============MIXINS==============================

btnNavSelAP()
	background verdeobscuro
	color white

// ==============TODO LO DEMAS========================

*
	font-family 'Open Sans', sans-serif

hr 
	background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.2), transparent)
	background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent)
	border: 0
	height: 1px
	margin: 22px 0 22px 0

h1
	color textoPrimario
	font-weight 300
body
	background gris

header
	position relative
	z-index 3
	background-color: #f8f8f8;
	border-bottom solid 1px #e7e7e7
	border-radius: 0;
	box-shadow 0 4px 10px rgba(0, 0, 0, 0.1)
	background: linear-gradient( #f6f6f6, white)
	border-top 5px solid #ededed

.navbar-default
	border-radius: 0
	border none
	background: transparent
	transition margin-bottom 0.2s ease

	.navbar-header
		margin-bottom: 20px

		.navbar-brand
			padding-top 12px
			transition padding-top 0.2s ease

			img
				width 175px
				transition width 0.2s ease

	.navbar-collapse
		margin-top: 40px


		.navbar-nav
			padding-top: 13px;

			
			li
				margin-left 1px
				margin-right 1px

				.dropdown-menu
					border-radius 9px
				a
					padding-top 10px;
					padding-bottom 10px;
					border-radius 5px
					font-size 13px
					transition all 0.5s ease

					&:hover
						background azulclaro
						color white

				.ap
					background verde
					color white

					&:hover
						btnNavSelAP()

			.active
				a
					background azul
					color white

.small
	margin-bottom 0
	.navbar-header
		.navbar-brand
			padding-top 0 !important
			img
				width 150px !important
	.navbar-collapse
			margin-top: 2px !important

.main-slider
	background #ccc
	border-bootom solid 1px #BBBBBB
	background-size cover
	background-position center
	width auto
	height 500px

.contact-jumbotron
	min-height 50px
	background azul
.bg-info
	padding 15px

#mainContent
	background white

footer
	background pie
	padding-bottom 25px

	.footernav
		background piebajo

		.nav-footer
			float right

			li
				display inline-block

				a
					transition all 0.5s ease
					font-size 12px
					color letrasfooter

					&:hover
						background inherit
						color white
	.copyright 
		padding: 10px 15px;
		color letrasfooter
		font-size 12px
		float left

.topAutoPadding
	padding-top 90px

.btn
	transition border 0.5s ease, background 0.5s ease, color 0.5s ease

.btn-primary.active
	background-color azulobscuro
	border-color azulobscuro 

.btn-primary
	background-color azul
	border-color azulobscuro
	&:active 
	&:focus
	&:hover
		@extend .btn-primary.active
.open
	> .dropdown-toggle.btn-primary
		@extend .btn-primary.active
			

#map-content
	min-height 300px
	background grisClaro


.thumbnail
	li
		color #777

// ===================GENERALES================================================
.padding-bottom
	padding-bottom 25px

.padding-bottom-small
	padding-bottom 10px

.padding-top
	padding-top 25px

.dir
	color grisClaro
	min-height 100px
	padding-bottom 10px

.secundaryText
	font-size 18px
	font-weight 200

.killMargins
	margin 0

.widthFit
	width 100%

.thin
	font-weight 200
	color black

#contact-answ
	display none

.deletePaddings{
	padding 0 !important
}

// ===================MEDIA QUERIES============================================

@media (min-width: 1330px)
	.navbar-default
		.navbar-collapse
			margin-top: 25px;
			float right
	.main-slider
			height 600px

@media (min-width: 992px)and (max-width: 1330px)
	.navbar-default
		.navbar-collapse
			margin-top: 25px;
			float right
	.main-slider
			height 500px

@media (min-width: 768px) and (max-width: 992px)
	.main-slider
		height 400px
	.new
		p
			margin-top 10px

@media (min-width: 450px) and (max-width: 768px)
	.main-slider
		height 250px

	.new
		p
			margin-top 10px

	footer
		.footernav
			.nav-footer
				float none

				li
					display inline-block
					width 24%
		.copyright 
			background azulobscuro
			float none
			text-align center

@media (max-width: 490px)
	.main-slider
		height 175px
					

